:root {
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    :root {
        font-size: max(calc(1vw), calc(1vw + 0.5em));
    }
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: #fafafa;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body * + * {
    margin-top: 1.5em;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 1.5em;
    max-width: 1080px;
    margin: 0 auto;
}

header,
nav {
    grid-column: 2 / 4;
    grid-row: span 1;
}


header {
    padding: .5em 0em;
}

header > h1 > a {
    text-decoration: none;
    color: black;
}

nav > ul {
    display: flex;
    padding: 1em 0em;
}

nav > ul > li {
    list-style-type: none;
    margin-top: 0;
}

nav > ul > li > a {
    text-decoration: none;
    vertical-align: middle;
}

nav > ul > li > a > img {
    vertical-align: middle;
}

nav > ul > li + li {
    padding-left: 2em;
}

@media only screen and (max-width: 600px) {
    header,
    nav {
        grid-column: 1 / 4;
        grid-row: span 1;
        padding-left: 1.5em;
    }
}

main {
    margin: 0em;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    border-radius: .5em;
    background-color: #fff;
    padding: 1em;
    font-size: 2rem;
    max-width: 1080px;
}

pre {
    font-size: 0.8em;
    overflow-y: auto;
}

main > p {
    margin: 0 auto;
}

nav a {
    color: #007afc;
}

@media only screen and (max-width: 600px) {
    main {
        grid-column: 1 / 5;
        grid-row: span 1;
        margin: 0em 3em;
    }
    .articles {
        margin: 0em 0em;
    }

}

main > ul {
    margin-top: 0em;
    padding: 0.2em;
}

main > ul > li {
    list-style-type: none;
    font-size: 0.5em;
    vertical-align: middle;
}

main > ul > li > small{
    font-size: 0.7em;
    color: gray;
}

main > ul > li > a {
    vertical-align: middle;
    color: #007afc;
    text-decoration: none;
    margin-top: 5em;
}

main > small > a {
    color: gray;
    font-size: 0.5em;
}

main > ul > li > a:visited {
    color: #824c71;
}

main > ul > li > a > img {
    vertical-align: middle;
}
main > article {
    font-size: 0.5em;
}
.articles {
    padding: 0em 1em;
}

footer {
    font-size: 0.7em;
    color: gray;
    align-self: end;
    grid-column: 2 / 4;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    nav {
        font-size: 1.5em;
    }
    main > article {
        font-size: 0.8em;
    }
    main > ul > li {
        font-size: 0.8em;
    }
    main > small{
        font-size: 1.5em;
    }
}

