:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: #fafafa;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body * + * {
    margin-top: 1.5em;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 1.5em;
    max-width: 1080px;
    margin: 0 auto;
}

header,
nav {
    grid-column: 2 / 4;
    grid-row: span 1;
}

header {
    padding: .5em 0em;
}

nav > ul {
    display: flex;
    padding: 1em 0em;
}

nav > ul > li {
    list-style-type: none;
    margin-top: 0;
}

nav > ul > li > a {
    text-decoration: none;
}

nav > ul > li + li {
    padding-left: 2em;
}

main {
    margin: 0em;
    grid-column: 2 / 4;
    grid-row: span 2;
    border-radius: .5em;
    background-color: #fff;
    padding: 1em;
    font-size: 2rem;
}
